<div class="container">

  <br>
  <div class="divider"></div>
  <div class="section">
    <div class="right">
      <a class="waves-effect  waves-light btn" (click)="preview()">Preview</a>
      <a class="waves-effect  waves-light btn" *ngIf="cPost.Status =='Draft'" (click)="publish()">Publish</a>
      <a class="waves-effect  waves-light btn" *ngIf="cPost.Status =='Published'" (click)="unPublish()">Unpublish</a>
    </div>
  </div>
  <br><br>



  <div class="container">
    <div class="section">
      <h4>
        {{cPost.Title}}
        <i class="material-icons prefix waves-effect waves-light" (click)="editTitle()">mode_edit</i>
      </h4>



      <p>{{cPost.Status}}</p>
    </div>
    <div class="divider"></div>





  </div>
</div>