<div class="card small">

  <div class="card-content center-align">
    <span class="card-title section">Add Tag</span>


    <form [formGroup]="this.tagSer.newTag">




      <div class="row">
        <div class="input-field col s12 l8 offset-l2">
          <input type="text" formControlName="Name">
          <label for="Name">Name</label>
        </div>
      </div>


      <button class="waves-effect waves-light btn " (click)="onSubmit()">
        Submit
      </button>
    </form>
  </div>
</div>